.sec-four {
    margin-bottom: 100px;
    .container {
        .row {
            .col-lg-12 {
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
        .clothess {
            display: flex;
            align-items: center;
            .col-lg-1 {

                .clothes-tips {
                    @include setTransitions(all, 0.4s);

                    &:hover{
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 60px 36px -18px inset;
                    }
                    img{
                        max-width: 100%;
                    }
                    p {
                        color: $helper-color-3;
                        font-weight: bold;
                        text-align: center;
                    }
                }
            }
        }
    }
}
