$text-color-1 : white;
$text-color-2 : black;
$bg-color : #fff;
$helper-color-2 : #1f1f1f;
$helper-color : #f1f1f1;
$helper-padding-1 : 10px;
$helper-color-3 : #787878;
$helper-color-4 : #009B77;
$span-padding : 3px 12px 4px 12px;
$about_photo_icons_padding : 10px 12px 10px 12px;
$about_photo_icons_color : rgb(83, 83, 83);
$letter-spacings : 2px;
$li_color : rgb(206, 120, 7);
$input_parametres : 17px 25px 17px 25px;

$text-size : 14px;
$text-size-5 : 11px;
$text-size-6 : 12px;

$text-size-2 : 16px;
$text-size-3 : 22px;
$text-size-4 : 100px;
$icon-size : 25px;
$text-top-padding : 8px;
$navbar-height : 52px;
$button-paddings : 15px 45px 15px 45px;
$sec-two-info-paddings : 25px 28px 25px 28px;
